



{{> nav_nota}}




<div class="container" style="padding-top: 70px">

<h1 class="m-0 text-center">resultado</h1>
<h3 class="m-0 text-center">encontradas {{numero}}</em></h3>
    <div class="col-lg-8 mx-auto ">

      {{# each notas}}
       <div class="row  mx-auto ">
      <div class="card my-4">
        <div class="card-body" >
          <a href="/notas/{{_id}}"><h5 class="card-title">{{titulo}}</h5></a>
          <texarea class="card-text">{{{resumen}}}</textarea>
        </div>
        <div class="card-footer my-0 text-muted">
          publicado el {{fecha}} por <a>pepe</a>
        </div>
      </div>
      </div>
      {{/each}}
      
    </div>
    
    {{{paginador}}}

  </div>



    
<footer class="py-5 bg-great">
{{> pie}}
</footer>

