

{{> nav_notas}}


<div class="container" style="padding-top: 70px">

  <h2 class="m-0 text-center">ENTRADAS</h2>

  <div class="row ">
    <div class="col-lg-3 mx-auto">
      <div class="card m-4 text-center">
        
        <div class="card-body">
          <h5 class="card-title">Categorias</h5>   
             <div class="card-body" type="display: flex ; justify-content: space-around">
              {{# each categorias}}
           
              <a href="/notas/cat/{{_id}}">{{name}}</a>
          
              {{/each}}
              </div>
        </div>
      </div>


   
    </div>
    <div class="col-lg-8 mx-auto">

      {{# each notas}}
       <div class="row mx-auto">
        <div class="card my-2">
        <div class="card-body" >
          <a href="/notas/{{_id}}"><h5 class="card-title">{{titulo}}</h5></a>
          <p class="card-text">{{{resumen}}}</p>
        </div>
        <div class="card-footer my-0 text-muted">
          publicado el {{fecha}} por <a>pepe</a>
        </div>
      </div>
      </div>
      {{/each}}
      
    </div>
     
     {{{paginador}}}

  </div>
  
</div>




<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  
</footer>




